/*font-family: 'JetBrains Mono', monospace;*/
:root{
    --primary: #1a1c1d;
    /* --primary: #fcfcfc; */
    --secondary: #339bff;
    --tertiary: #d9d6d1;
    /* --tertiary: #1a1c1d; */
    --text1: #d9d6d1;
    /* --text1: #141414; */
    --text2: #141414;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    font-family:  'Quicksand','Abril Fatface', sans-serif;
    max-width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

.topbtn{
    display: none;
    position: fixed;
}

.navbar{
    position: fixed;
    z-index: 2;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    color: var(--primary);
    height: auto;
    width: 100vw;
    justify-content: end;
    align-items: center;
    padding: 0 8%;
}

nav>ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--tertiary);
    text-align: center;
    cursor: pointer;
}

.hoverlink{
    text-decoration: underline;
}
.hoverlink:hover{
    color: var(--secondary);
}
li{
    display: inline-block;
    text-align: center;
    font-size: 18px;
    padding: .4rem 1rem;
    border: 1.5px solid transparent ;
    border-radius: .1rem;
    cursor: pointer;
    transition: .3s;
}
li:hover{
    border-bottom: 1.5px solid var(--secondary);
}
.logo{
    font-size: 2.5em;
    font-weight: 800;
    margin-left: 2.5rem;
    margin-right:auto;
}
#toggle{
    position: fixed;
    top: 1vh;
    color: var(--tertiary);
    right: 3vw;
    z-index: 3;
}
#ham{
    display: none;
    position: fixed;
    top: 1vh;
    color: var(--tertiary);
    left: 2vw;
    z-index: 999;
}
.pebble{
    margin: 3px;
    padding: 4px;
    border: transparent;
    border-radius: 3px;
    background-color: var(--tertiary);
    color: var(--primary);
}

/************************             HOME         ************************/
#home{
    background-image: linear-gradient(to bottom right, var(--primary), var(--primary));
    display: flex;
    min-height: 100vh;
    height: auto;
}

.left{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 14vw 3vw 2vw 11.5vw;
    color: var(--tertiary);
}
.head-1{
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--secondary);
}
.head-2{
    background-color: transparent;
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 3vh;
}
.subtext{
    padding: 1vh 0;
    font-size: 2.7rem;
    color: var(--tertiary);
}
.bottomtext{
    margin: 2rem 0 0;
    width: 50%;
    font-weight: 400;
}
.plinks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    padding: 0.7rem;
    margin: 2rem 0 0;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    background-color: var(--secondary);
    box-shadow: -4px -6px 2px var(--text2);
    color: var(--tertiary);
    font-size: 1em;
    transition: 0.3s;
}
.plinks:hover{
    color: #070707;
    background-color: #edeff3;
    box-shadow: 4px 6px 2px  var(--text2);
}
span{
    transition: .4s;
}
span:hover{
    color: var(--secondary);
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.right-sm{
    display: flex;
    width: 80%;
    justify-content: center;
    margin-right: 15vw;
    align-items: center;
}
.right-sm>.img2{
    max-width: 32vw;
    margin-right: -22%;
    margin-bottom: -7%;
}
.right-sm>.img{
    max-width: 9vw;
    margin-right: -15%;
    border-radius: 15px;
    transition: .5s;
}

.img2:hover~.img{
    margin-left: -23%;
}
.img:hover{
    margin-left: -23%;
}

/*********************               Skills Section             ******************/

#skills,#project{
    text-align: center;
    color: var(--text1);
    min-height: 100vh;
}
#skills{
    background-color: var(--primary);
    height:auto;
    padding: 11vh 0 10vh;
}
.cntr{
    font-family: 'JetBrains Mono', monospace;
    background-color: transparent;
    margin: 5vh auto;
    padding: 3vh 8vw;
    width: 55vw;
    height: auto;
    text-align: start;
}

.glass{
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 20px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.37);
}

.subhead{
    color: var(--text1);
    font-size: 1.2em;
    font-weight: 400;
    padding: 1vh 0 2vh;
}

.points{
    color: var(--tertiary);
    padding: 0 0 2.5vh;
}

/*****************************         Projects section           ****************************/

#project{
    position: relative;
    padding-top: 2.3vh;
    background-color: var(--primary);
    min-height: 100vh;
    height: auto;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 0;
    padding: 4vh 0 4vh;
    width: 90vw;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    background-color: var(--primary);
    color: var(--tertiary);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.37);
    font-weight: 900;
    border-radius: 15px;
    min-height: 40vh;
    height: auto;
    width: 30vw;
    margin: 15px 30px;
    transition: .3s;
    overflow: hidden;
}
.zoom{
    padding: .5rem .25rem;
}
.c1,.c2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    font-size: medium;
}
.c1{
    padding: 2vh 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25%;
}
.c1>a>i{
    font-size: 1.6rem;
}

.end{
    margin-left: auto;
}
.end>a>i{
    font-size: 1.6rem;
    margin: .5rem;
}
.c2{
    padding: 2vh 2vw;
}
.c1>img,.c2>img{
    height: 90%;
    width: 90%;
    border-radius: 10px;
    margin-top: 1vh;
    align-self: center;
    justify-self: center;
}
.c2{
    font-size: 1.5rem;
}
.c3{
    color: var(--tertiary);
    font-weight: 200;
    font-size: 1rem;
    margin-top: 2vh;
    width: 85%;
    text-align: left;
}

.tech-stack{
    width: 85%;
    margin-top: .4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: small;
}

/**************************       Contact Me section           ***************************8*/

#contact{
    padding-top: 4vh;
    text-align: center;
    color: var(--tertiary);
    background-color: var(--primary);
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh;
    flex-wrap: wrap;
    margin: 0 auto;
   }
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    padding: 2vh 0;
    margin: 0 auto;
    min-height: 60vh;
    border-radius: 15px;
}
form>input,textarea{
    width: 35vw;
    max-width: 35vw;
    min-width: 35vw;
    min-height: 10vh;
    padding: 2vh;
    margin: 1vh 0;
    border: none;
    border-bottom: var(--text1) 1px solid;
    background-color: transparent;
    color: var(--text1);
    font-size: 1rem;
    transition: .3s;
}
form>input:focus,textarea:focus{
    outline: none;
    border: none;
    border-bottom: var(--secondary) 1px solid;
}
.submit{
    min-height: 7vh;
    border: transparent;
    border-radius: 5px;
    background-color: var(--secondary);
    color: white;
    margin-top: 3rem;
}
.submit:hover{
    cursor: pointer;
}
.link{
    padding: 10px;
    transition: .3s;
}
i{
    font-size: 2rem;
    color: var(--text1);
    margin: 1px;
}
button,a{
    background: none;
    text-decoration: none;
    border: none;
}
button{
    color: white;
}
.foot{
    text-align: center;
    background-color: var(--secondary);
    color: white;
    height: auto;
    padding: .5vh 0;
}


@media (max-width: 820px) {
    #ham{
        display: inline;
    }
    a{
        margin: 0;
    }
    li{
        width: 95vw;
        padding: .6rem 1rem;
        margin: .2vh 0;
        background-color: var(--primary);
    }
    .c1>img,.c2>img{
        max-height: 100%;
        max-width: 90%;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 9vh;
        height: auto;
    }
    nav{
        display: none;
    }
    nav>ul>li{
        display: block;
    }
    li:hover{
        border: 1.5px solid transparent ;
    }
    .logo{
        font-size: 2rem;
        margin: 10px auto;
    }
    #home{
        padding-top: 8vh;
        flex-direction: column;
        min-height: 70vh;
        height: auto;
        align-items: center;
    }
    .left{
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left>div{
        text-align: center;
    }
    .left>.head-1{
        font-size: 1rem;
        margin: 5vh 0 0;
    }
    .left>.head-2{
        font-size: 1.5rem;
        margin: 0 0 2vh;
    }
    .subtext{
        margin: 2vh 0 4vh;
        font-size: 1.7rem;
    }
    .img2:hover~.img{
        margin-left: -10%;
    }
    .img:hover{
        margin-left: -10%;
    }
    .cntr{
        width:70vw;
    }
    .plinks{
        width: 50vw;
        margin: 4vh;
    }
    .glass{
        width: 98%;
    }
    #project{
        height: auto;
    }
    .cards{
        width: 100%;
        padding: 0;
        flex-direction: column;
    }
    .card{
        width: 75%;
        height: auto;
        margin: 2vh auto;
    }
    #box{
        -webkit-mask-image: none;
        mask-image: none;
    }
    .item{
        height: 100px;
        width: 100px;
        margin: 25px;
    }
    #contact{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact{
        padding: 1vh 0;
        display: flex;
        flex-direction: row;
    }
    form{
        width: 90vw;
        padding: 2vh 0;
        margin: 0 auto;
        min-height: 60vh;
    }
    form>input{
        min-width: 65vw;
        padding: 2vh;
        margin: 1vh 0;
    }
    textarea{
        min-width: 65vw;
        padding: 2vh;
        margin: 0;
    }
    .topbtn{
        display: flex;
        position: fixed;
        font-size: 10vw;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        width: 9vw;
        height: 9vw;
        background-color: #748fe8;
        opacity: 60%;
        border-radius: 50%;
        bottom: 5vw;
        right: 5.5vw;
        z-index: 10;
    }
}

