*{
    margin: 0;
    padding: 0;
    font-family:  'Abril Fatface', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: #0c0a0a;
    color: #edeff3;
    height: auto;
    justify-content: end;
    align-items: center;
    padding: 0 8%;
}

nav>ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
}
li{
    display: inline-block;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid transparent ;
    cursor: pointer;
    transition: .5s;
}
li:hover{
    border-bottom:1px solid white;
    
}
.logo{
    font-size: 2.5em;
    font-weight: 600;
    margin-right:auto;
}

.content{
    background-image: linear-gradient(to bottom right, black, rgb(58, 3, 104));
    display: flex;
    height: 90vh;
}

.left{
    width: 55%;
    justify-content: end;
    align-items: center;
    padding: 150px 75px 50px 90px;
    color: #edeff3;
}
.head-1{
    font-size: 2.5em;
    font-weight: 800;
    color: #9fb6e3;
}
.head-2{
    background-color: transparent;
    font-size: 3.5em;
    font-weight: 800;
}
.subtext{
    font-size: 1.2em;
}
span{
    transition: .4s;
}
span:hover{
    color: #873edf;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.right>.img2{
    max-width: 32vw;
    margin-right: -22%;
    margin-bottom: -7%;
}
.right>.img{
    max-width: 9vw;
    margin-right: -5%;
    border-radius: 15px;
    transition: .5s;
}

.img2:hover~.img{
    margin-left: -23%;
}
.img:hover{
    margin-left: -23%;
}

/*Skills Section*/
#skills,#project{
    text-align: center;
    color: white;
    height: 100vh;
}
#skills{
    background-image: url("img/bg1.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
    padding:5vh 0 15vh;
}
.cntr{
    background-color: transparent;
    margin: 30px auto;
    width: 57vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    background-color: transparent;
    height: 150px;
    width: 150px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item>i{
    font-size: 8em;
}

/*Projects section*/

#project{
    background-color: #0c0a0a;
    height: auto;
    margin: 0px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto 0;
    width: 70vw;
}
.card{
    border: 1px solid white;
    height: 320px;
    width: 300px;
    margin: 20px;
}
.card:hover {
    cursor: pointer;
    box-shadow: 8px 8px grey;
}
.c1{
    height: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c1 img{
    max-height: 90%;
    max-width: 100%;
}
.c2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17%;
    padding: 10px;
}

/* Contact Me section */

#contact{
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom right, black, rgb(58, 3, 104));
    height:70vh;
}
.form{
    margin:20vh 0%;
}
button {
    text-decoration: none;
    border: solid;
    border-radius: 5px;
    color: white;
    padding: 20px 35px;
    border-color: #340476;
    background-color: #340476;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}
button:hover{
    border-color: #4e06ac;
    background-color: #4e06ac;
}

.foot{
    text-align: center;
    background-color: #340476;
    color: white;
    height: 9vh;
    padding: 2vh 0;
}
@media (max-width: 800px) {
    .navbar{flex-direction: column;
    justify-content: center;}
    a{
        display:block;
    }
    nav>ul>li{
        display: block;
    }
    .logo{
        font-size: 2em;
        margin: 10px auto;
    }
    .content{
        flex-direction: column;
    }
    .left{
        width: 100%;
        padding-top: 50px;
    }
    .left>div{
        text-align: center;
    }
    .right{
        width: 100%;
    }
    .left>.head-1{
        font-size: 2em;
    }
    .left>.head-2{
        font-size: 2em;
    }
    .cntr{
        width:70vw;
    }
    .item{
        height: 100px;
        width: 100px;
        margin: 25px;
    }
    
}