/*font-family: 'JetBrains Mono', monospace;*/

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
html{
    scroll-snap-type: y proximity;
}
section{
    scroll-snap-align: start;
}
body{
    font-family:  'Quicksand','Abril Fatface', sans-serif;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.topbtn{
    display: none;
    position: fixed;
    text-align: center;
    font-size: 4vw;
    width: 4vw;
    height: 4vw;
    background-color: #6109cc;
    opacity: 60%;
    border-radius: 30%;
    bottom: 5vw;
    right: 5.5vw;
}

.navbar{
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: #0c0a0a;
    color: #edeff3;
    height: auto;
    width: 100%;
    justify-content: end;
    align-items: center;
    padding: 0 8%;
}

nav>ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
    cursor: pointer;
}
li{
    display: inline-block;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin: 0 10px;
    border-bottom: 1.5px solid transparent ;
    cursor: pointer;
    transition: .3s;
}
li:hover{
    border-bottom: 1.5px solid #c2c2c2;
}
.logo{
    font-size: 2.5em;
    font-weight: 800;
    margin-right:auto;
}

.content{
    background-image: linear-gradient(to bottom right, black, rgb(58, 3, 104));
    display: flex;
    height: 100vh;
}

.left{
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 14vw 3vw 2vw 12vw;
    color: #edeff3;
}
.head-1{
    font-size: 2.5em;
    font-weight: 800;
    color: #9fb6e3;
}
.head-2{
    background-color: transparent;
    font-size: 2em;
    font-weight: 800;
}
.subtext{
    padding: 1vh 0;
    font-size: 1em;
    color: #999a9b;
}
.plinks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    padding: 0.7em;
    margin: 0.5em;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    background-color: #971127;
    color: #edeff3;
    font-size: 1em;
    transition: 0.3s;
}
.plinks:hover{
    transform: translateY(-1.2vh);
    color: #971127;
    background-color: #edeff3;
}
span{
    transition: .4s;
}
span:hover{
    color: #873edf;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.right-sm{
    display: flex;
    width: 80%;
    justify-content: center;
    margin-right: 15vw;
    align-items: center;
}
.right-sm>.img2{
    max-width: 32vw;
    margin-right: -22%;
    margin-bottom: -7%;
}
.right-sm>.img{
    max-width: 9vw;
    margin-right: -15%;
    border-radius: 15px;
    transition: .5s;
}

.img2:hover~.img{
    margin-left: -23%;
}
.img:hover{
    margin-left: -23%;
}

/*********************               Skills Section             ******************/

#skills,#project{
    text-align: center;
    color: white;
    height: 100vh;
}
#skills{
    background-image: url("img/bg1.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
    padding: 11vh 0 10vh;
}
.cntr{
    font-family: 'JetBrains Mono', monospace;
    background-color: transparent;
    margin: 5vh auto;
    padding: 3vh 8vw;
    width: 55vw;
    height: 67vh;
    text-align: start;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0));
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.subhead{
    color: #ebeb5790;
    font-size: 1.2em;
    font-weight: 400;
    padding: 1vh 0 2vh;
}

.points{
    color: green;
    padding: 0 0 2.5vh;
}

/*Projects section*/

#project{
    padding-top: 2.3vh;
    background-color: #0c0a0a;
    height: auto;
    margin: 0px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto 0;
    width: 60vw;
}
.card{
    border: 1px solid #484848;
    border-radius: 15px;
    height: 275px;
    width: 250px;
    margin: 15px 30px;
}
.card:hover {
    cursor: pointer;
    box-shadow: 3px 3px 10px #3f3f3f;
    transition: .2s;
}
.c1{
    height: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c1 img{
    max-height: 90%;
    max-width: 100%;
}
.c2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17%;
    padding: 10px;
    font-size: small;
}

/* Contact Me section */

#contact{
    padding-top: 1vh;
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom right, black, rgb(58, 3, 104));
}
.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 18vh 20vh 30vh;
    flex-wrap: wrap;
    margin: 0 auto;
   }
   .link{
       padding: 10px;
       transition: .6s;
   }
   .link:hover{
       opacity: 60%;
       cursor: pointer;
   }
   i{
    font-size: 5rem;
    margin: 30px;
    }
    button,a{
        background: none;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }
    button{
        color: white;
    }
   .foot{
        text-align: center;
        background-color: #1f0446;
        color: white;
        height: auto;
        padding: 2vh 0;
    }

@media (max-width: 800px) {
    .navbar{
        position: static;
    flex-direction: column;
    justify-content: center;}
    a{
        display:block;
    }
    nav>ul>li{
        display: block;
    }
    .logo{
        font-size: 2em;
        margin: 10px auto;
    }
    .content{
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
        justify-content: center;
        align-items: center;
    }
    .left{
        width: 100%;
        padding-top: 50px;
    }
    .left>div{
        text-align: center;
    }
    .right{
        width: 100%;
    }
    .left>.head-1{
        font-size: 2em;
    }
    .left>.head-2{
        font-size: 2em;
    }
    .img2:hover~.img{
        margin-left: -10%;
    }
    .img:hover{
        margin-left: -10%;
    }
    
    .cntr{
        width:70vw;
    }
    .plinks{
        width: 60vw;
    }
    .item{
        height: 100px;
        width: 100px;
        margin: 25px;
    }
    .contact{
        padding: 9vh 20vh 15vh;
    }
    .topbtn{
        display: inline;
        width: 8vw;
        height: 8vw;
        font-size: 8vw;
    }
}